<<<<<<< HEAD
/*通用样式*/
    .clearfix:after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        visibility: hidden;
    }
    .clearfix{
        *zoom:1;
    }
    *{
    	box-sizing: border-box;
    }
    .top{
        background: #1a1a1a;
    }
    .body{
    	background: #ededed;
    }
    .contain{
    	width: 1220px;
    	margin-left: auto;
    	margin-right: auto;
    }
    .container{
        border: 1px solid #ccc;
        border-radius: 10px; 
    }
    a{
    	font-size: 14px;
    	text-decoration: none;
        color: #666;
    }
    a:hover{
    	cursor: pointer;
    }
=======
header{
	background-color: black;
}
>>>>>>> 8ff9d0cf402bf7505ae5bf94d838ed6227ada8d2
