*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ededed;
}
.clearfix:after{
            display: block;
            content:'';
            clear: both;
            height:0;

        }
a{
	text-decoration: none;
	color: #b0b0b0;
	font-size: 14px;
}

.container{
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
}
.flow{
	width: 1583px;
	height: 5091px;
   background-color: rgba(0,0,0,.65);
   z-index: 1250;
   position: absolute;
   display: none;
   position: fixed;
}
.table{
	position:fixed;
	width: 466px;
	height: 624px;
	left: 50%;
	top:50%;
	margin-top: -312px;
	margin-left: -233px;
	z-index: 100000;
	background: #fff;
	border-radius:12px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
    display: none;
}
.table li{
	list-style: none;
	margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
    color: #666;
    font-weight: 300;
}
.table .title {
	width: 100%;
	height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #646464;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 1px 7px rgba(0,0,0,.06);
    background: #fdfdfd;
    background: linear-gradient(#fbfbfb,#ececec);
    border-radius: 12px 12px 0 0;
}
.table h6{
	font-size: 18px;
    color: #323232;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.table .require .request{
  width: 404px;
  height: 85px;
	margin: 0 auto;
	border-bottom: 1px dashed #e5e5e5;
	margin-top: 18px;
	padding-bottom: 60px;
}
.table .surply .step{
  margin: 20px auto;
  width: 404px;
  height: 205px;
  border-bottom:1px dashed #e5e5e5;
}
.table .contact p{
  font-size: 14px;
  color: #323232;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 35px;
}
.table .btn{
  width: 100%;
  height: 84px;
  background: #f5f5f5;
  text-align: center;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius:0 0 12px 12px;
}
.table .btn button{
    width: 213px;
    height: 48px;
    border-radius: 6px;
    box-sizing: border-box;
    background: inherit;
    margin: 13px 9px;
    font-size: 16px;
    outline: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    float: left;
}
.table .btn button:nth-child(1){
    background-image: linear-gradient(#fff,#fcfcfc);
    color: #8c8c8c;
}
.table .btn button:nth-child(2){
     color: #fff;
    background: linear-gradient(#6e98f4,#4b77ee);
}
.clearfix{
	*zoom:1;
}
body{
	font-size: 12px;
}
.top{
	height: 100px;
    background-color: #0b0b0b;
    min-width: 1220px;
   }
.top .nav a:hover{
    color: #fff;
}

.top .logo{
	float: left;
	width: 43px;
	height: 100px;

}
.top .logo img{
    width: 43px;
    height: 44px;
	margin-top: 28px;
	display: inline-block;

}
.top .nav li{
	float: left;
	margin-right: 60px;
	line-height: 100px;
    list-style: none;
}
.top .nav li:nth-child(1){
	margin-left: 100px;
	color: #fff;
}
.top .nav li:nth-child(1) a{
	color: #fff;
}
.top .nav ul span{
	float: left;
	color: #242424;
	width: 1px;
	height: 100px;
	margin-right: 50px;
	line-height: 100px;
}
.top .cart{
	height: 40px;
	line-height: 40px;
	color: #999;
	float: left;
	margin-top: 30px;
	}
.top .cart i:nth-child(1){
	margin-right: 20px;
}
.top .cart div{
	display:inline-block;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #999;
}
.header{
	position: relative;
}
.header .container{
	margin-left: auto;
	margin-right: auto;
}
.header .container .phone-nav{
	width: 100%;
	line-height: 89px;
	height: 89px;
	border-bottom: 1px solid #d8d8d8;
  position: relative;
}

#box{
	background: #f7f7f7;
	z-index:999;
	position: fixed;
	border-bottom: 1px solid #dadada;
	top:0px;
	right: 0px;
	box-shadow: 0 2px 4px rgba(0,0,0,.04);
	width: 100%;
	height: 0px;
	overflow: hidden;
	background-image: linear-gradient(#fff,#f1f1f1);
}
#box ul{
	width: 100%;
	line-height: 60px;
	height: 60px;
}
.header .cart{
	position: absolute;
	height: 40px;
	line-height: 40px;
	color: #999;
	float: left;
	margin-top: 30px;
	top:-20px;
	right: 470px;
	margin-right: 300px;
}
.header li{
	float: left;
	margin-left: 30px;
	color:  #dfdfdf;
	padding-left: 10px;
}
.header .container .phone-nav li{
  position: absolute;
}
.header li:nth-child(1){
	list-style:none;
	padding-left: 0px;
	margin-left: 0px;
}
.header li:nth-child(4){
	font-weight: bold;
}
.header li a{
	color: #666;
}
.header li a:hover{
	color: #5079d9;
}

.header .search-bar{
	width: 326px;
	height: 36px;
    padding-left: 50px;
    padding-right: 15px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 18px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: inset 0 1px 6px 0 rgba(0,0,0,.15);
	position: relative;
	top:26px;
	right: -890px;
	line-height: 36px;
}
.header .search-bar button{
	position: absolute;
    top: 8px;
    left: 15px;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-color: transparent;
    font-size: 18px;
    color: #999;
    text-align: center;
}
.header .search-bar div{
	position: absolute;
    top: 7px;
    height: 20px;
    line-height: 20px;
    right: 0;
}
.header .search-bar input{
	width: 265px;
    height: 30px;
    font-size: 5px;
    font-weight: 400;
    color: #333;
    border: none;
    outline: none;
    overflow: visible;
    position: absolute;
    top:2px;
    right: 10px;
}
.header .search-bar  a{
	display: inline-block;
    margin-right: 7px;
    text-decoration: none;
    border-radius: 10px;
    height: 20px;
    padding: 0 10px;
    color: #8aad37;
    border: 1px solid rgba(138,173,55,.6);
    background: #f7fae1;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 18px;
}
.header .search-bar  a:nth-child(1){
	color: #3965cc;
    border: 1px solid #93b2f7;
    background: #e5efff;
}
.header .header-nav{
	width: 100%;
	height: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    background: #ededed;
    top:89px;
    right: 0px;
    box-shadow:0px 2px 2px #cacaca;
}
.header .header-nav ul{
	width: 1226px;
	height: 350px;
	margin:0 auto;
	opacity: 0;
}
.header .header-nav ul li{
	float: left;
	vertical-align: top;
    width: 200px;
    height: 260px;
    font-size: 14px;
    color: #666;
    list-style: none;
    border-right: 1px solid #ebebeb;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.header .header-nav ul li:nth-child(4){
	border-right: none;
}
.header .header-nav ul li img{
	text-align: center;
	vertical-align: center;
	padding-right: 40px;
}
.header .header-nav ul li p{
	margin-top: 10px;
    font-size: 14px;
    color: #d44d44;
    font-weight: 700;
    margin-right: 40px;
    box-sizing: border-box;
}
.header .header-nav ul li .produce-name{
    font-size: 12px;
    color: #616161;
}
.check{
	width: 1220px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	position: relative;
	}
.check ul{
	position: absolute;
	left: 0;

}
.check li{
	float: left;
	margin-left: 30px;
	color:  #c7c7c7;
	padding-left: 10px;
}
.check li:nth-child(1){
	list-style:none;
	padding-left: 0px;
	margin-left: 0px;

}
.check li:nth-child(1) a{
	color: #7783ea;
}
.check li a{
	color: #999;
}
.check li a:hover{
	color: #7783ea;
}
.good{
	width: 1220px;
	height: 4290px;
	margin: 0 auto;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	background-color: #fff;
}
.good li{
	display: inline-block;
	float: left;
	width: 304px;
	height: 428px;
	border-right:  1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	position: relative;
}
.good li img{
	width: 216px;
	height: 216px;
	margin-top: 35px;
}
.good .h2{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;
}
.good .img-box{
	width: 8px;
	height: 8px;
	border:2px solid #999;
	border-radius: 50%;
	display:inline-block;
	margin-top: 15px;
	padding: 2px;
	margin-right: 10px;
	line-height: 4px;
	}
.good .img-box img {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin:0;
	}
.good h2{
	margin-top: 15px;
	color: #d44d44;
}
.good li:hover{
	box-shadow: 2px 2px 10px 10px #f5f5f5 inset;

}
#div{
	display: none;
	width: 120px;
	height: 40px;
	z-index: 2;
	line-height: 40px;
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom: 50px;
	left: 85px;
	border-radius: 10px;
	background: #fff;
	color: #646464;
}
#div:hover{
	background-color:gray;
}
.good li:hover #div{
     display: block;
}
.help{
	width: 1220px;
	height: 155px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	border:1px solid #dcdcdc;
	border-radius: 10px;
}
.help div{
	width: 302px;
	height: 155px;
	display: inline-block;
	text-align: center;

}
.help i{
	font-size: 36px;
	margin-top: 25px;
	margin-bottom: 10px;
	color: #8d8d8d;
}
.help p{
	width: 302px;
	color: #a8a8a8;
}
.help h5{
	font-size: 15px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 400px;
}
.bottom{
	width: 100%;
	height: 354px;
	background-color: #fafafa;
	margin-top: 28px;
	min-width: 1220px;
}
.bottom .siteinfo{

	width: 1220px;
	height: 233px;
	padding: 100px 0 32px;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6;
}

.bottom .copyright{
	width: 1220px;
	height: 120px;
	font-size: 12px;
	color: #434d55;
	padding: 40px 0;
	box-sizing: border-box;
	position: absolute;
}
.bottom .nav{

	font-size: 14px;
	color: #666;
	line-height: 1.15;
}
.bottom .nav>li{
	list-style: none;
	width: 149px;
	line-height: 1;
	float: left;
}
.bottom .nav h3{
	color: #646464;
	font-size: 12px;
	font-weight: 400;
	padding: 0 0 14px;
}
.bottom .nav h3+ul li{
	list-style: none;
	color: #c3c3c3;
	font-size: 12px;
	padding: 6px 0;
	box-sizing: border-box;
}
.container .service{
	float: right;
    right: 100px;
    overflow: hidden;
    line-height: 34px;
    list-style: none;
}
.service li:nth-child(1){
	font-size: 30px;
    line-height: 1;
    cursor: default;
    color: #646464;
    top: -2px;
    position: relative;
}
.service li:nth-child(2){

    width: 241px;
    font-size: 12px;
    line-height: 18px;
    color: #c3c3c3;
    }
 .online{
 	float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(#fcfcfc,#f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-right: 40px;
}
.copyright .chuizi{
	float: left;
	height: 15px;
	line-height: 15px;
	color: #757575;
	font-size: 100%;
	font-weight: 400;
}
.copyright .privacy{
	margin: 0 0 0 10px;
	list-style:none;
	color: #434d55;
	float: left;
}
.copyright .privacy li{
	float: left;
	line-height: 12px;
	padding: 0  10px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
}
.copyright .privacy li a{
	color: #5079d9;
}
.copyright .gon{
	color: #bdbdbd;
	font-size: 12px;
	height: 12px;
	line-height: 1;
	text-decoration: none;
}
.copyright .china {
	width: 130px;
	height: 51px;
	position: relative;
	top: -66px;
	right: -1075px;
	padding:10px 20px 10px 44px;
	box-sizing: border-box;
}
.copyright .china img{
     width: 15px;
     height: 10px;
     display: inline-block;
     margin-right: 2px;
}
.copyright .china i{
	margin-left:10px;
}
