/*刘向明*/
/*顶部内容*/
.top{
	background: #000;
	width: 100%;
	min-width：1220px;
}
.top .logo{
	height: 100px;
	padding-top: 30px;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}
.top .topnav{
	float: left;
	margin-left: 250px;
}
.top .topnav ul li{
	float: left;
	margin-left: 50px;
	line-height: 100px;
}
.top .topnav ul li a{
	text-decoration: none;
	color: #c8c8c8;
}
.top .topnav ul li a:hover{
	color: #fff;
}
.top .gouwuche {
	float: right;
	color: #fff;
	/*line-height: 100px;*/
	padding: 37px 0 37px 0;	
}
.top .gouwuche span:nth-of-type(1){
	margin-right: 30px;
}
.top .gouwuche a{
	color: #999;
	font-size: 20px;

}
.top .gouwuche #shuzi{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #999;
	box-sizing: border-box;
	background-color: #999;
	border-radius: 50%;
	text-align: center;

}
/*JS顶部导航栏*/
#jstop{
	width: 100%;
	height: 90px;
	position:absolute;
	left: 0;
	background: #f7f7f7;
}
#jstop>.contain{
	width: 1220px;
	background: #f7f7f7;
	/*border: 1px solid #aaa;*/
	position: absolute;
	top:0;
	left:50%;
	margin-left: -610px;
}
#jstop .contain li{
	height: 90px;
	float: left;
}
#jstop .contain li a{
	line-height: 90px;
	margin-right: 45px;
	color: #666;
	text-decoration: none;
}
#jstop .contain li a:hover{
	color: #5079d9;
}
#shouJ{
	position: absolute;
	top: 210px;
	z-index: 999;
	background: rgba(255,255,255,0.5);
}
#shouJ{
	background: #ededed;
	opacity:0.9;
}
#shouJ>div{
	width: 200px;
	height: 330px;
	text-align: center;
	background: #fff;
	float: left;
	margin-top: 20px;
}
#shouJ div img{
	width: 100%;
}
#shouJ div> .xiaozi{
	margin-top: 50px;
	font-size: 14px;
	color: #989898;
}
#shouJ div>p:last-child{
	margin-top: 30px;
	font-size: 14px;
	color: #d44d44;
	font-weight:900;
}
#shouJ div:first-child{
	margin-left: 310px;
}
#jstop .contain .gouwuche {
	float: right;
	color: #fff;
	/*line-height: 100px;*/
	padding: 37px 0 37px 0;	
	position: absolute;
	top: 0;
	right: 0;
}
#jstop .contain .gouwuche span:nth-of-type(1){
	margin-right: 30px;
}
#jstop .contain .gouwuche a{
	color: #999;
	font-size: 20px;

}
#jstop .contain .gouwuche #shuzi{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #999;
	box-sizing: border-box;
	background-color: #999;
	border-radius: 50%;
	text-align: center;

}
/*导航栏*/
.nav .contain{
	background: #ededed;
	border-bottom: 1px solid #aaa;
}
.nav .contain li{
	height: 90px;
	float: left;
}
.nav .contain li a{
	line-height: 90px;
	margin-right: 45px;
	color: #666;
	text-decoration: none;
}
.nav .contain li a:hover{
	color: #5079d9;
}
.nav1{
	position: relative;
}
#shouJ{
	position: absolute;
	top: 210px;
	z-index: 999;
	background: rgba(255,255,255,0.5);
}
#shouJ{
	background: #ededed;
	opacity:0.9;
}
#shouJ>div{
	width: 200px;
	height: 330px;
	text-align: center;
	background: #fff;
	float: left;
	/*margin-top: 20px;*/
}
#shouJ div img{
	width: 100%;
}
#shouJ div> .xiaozi{
	margin-top: 50px;
	font-size: 14px;
	color: #989898;
}
#shouJ div>p:last-child{
	margin-top: 30px;
	font-size: 14px;
	color: #d44d44;
	font-weight:900;
}
#shouJ div:first-child{
	margin-left: 310px;
}
/*分类*/
.fenlei .contain li{
	float: left;
	line-height: 60px;
	margin-right: 20px;
}
.fenlei .contain li.xiaoyuandian{
	display: inline-block;
	width: 2px;
	height: 2px;
	margin-top: 30px;
	background: #ccc;
}
.fenlei .contain li a{
	text-decoration: none;
	font-size: 12px;
	color: #ccc;
}
.fenlei .contain li a:hover{
	color:#5079d9; 
}

/*主体*/
.yincang {
	width: 100%;
	height: 30px;
	display: none;
}
.yincang span{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background: #fff;
	color: #b0b0b0;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -50px;
	/*z-index: 12;*/
}
.yincang span:hover{
	background: #ccc;
	color: #000;
}
.zhuti .contain .diyihang{
	width: 100%;
	height: 430px;
	border: 0.2px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	padding: 0;
}
.zhuti .contain .dierhang{
	width: 100%;
	height: 430px;
	border: 0.1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0;
	margin-top: 0;	
}
.zhuti .contain .diyihang>li,
.zhuti .contain .dierhang>li{
	width: 25%;
	height: 100%;
	border: 1px solid #ccc;
	float: left;
	box-sizing: border-box;
	margin:0;
	position: relative;
	background: #fff;
	transition: all 0.5s;
}
.zhuti .contain .diyihang>li:hover,
.zhuti .contain .dierhang>li:hover{
	box-shadow: 1px 1px 1px 3px #eee inset;
}
.zhuti .contain .diyihang>li:hover .jiage,
.zhuti .contain .dierhang>li:hover .jiage{
	display: none;
}
.zhuti .contain .diyihang>li:hover .yincang,
.zhuti .contain .dierhang>li:hover .yincang{
	position: absolute;
	bottom: 52px;
	display: block;
}
.zhuti .contain .diyihang .dierge .biaoqian{
	background: #fffbdf;
	color:#a06e37;
	border-color: #d5b480;
}
.zhuti .contain .diyihang li.biaoqian,
.zhuti .contain .dierhang li.biaoqian{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 45px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	background: #ffe7e5;
	border: 1px solid #f3938b;
	border-radius: 10px;
	color: #d44d44;
	font-size: 12px;
	font-weight: bold;
}
.zhuti .contain .diyihang li img,
.zhuti .contain .dierhang li img{
	position: absolute;
	top: 90px;
}
.zhuti .contain li.mingchen{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	position: absolute;
	top: 270px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 900;

}
.zhuti .contain li.jieshao{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	position: absolute;
	top: 300px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 100;
	color: #e04e4e;

}
.zhuti .contain li.input{
	position: absolute;
	top: 330px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;

}
.zhuti .contain li.input .wai{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px dashed #e8e8e8;
	border-radius: 50%;
	background: #fff;
}
.zhuti .contain .disange li.input .wai .nei{
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: #000;
}
.zhuti .contain .dibage li.input .wai .nei{
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: #7ed320;
}
.zhuti .contain li.jiage{
	position: absolute;
	top: 380px;
	width: 100%;
	height: 50px;
	padding-top: 0px;
	text-align: center;
	color: #d44d44;
	font-size: 18px;
	font-weight: 900;
}
.zhuti .contain li.jiage span{
	font-size: 14px;
	font-weight: 100;
	color: #ccc;
	margin-left: 10px;
}
/*页脚*/
.yejiao .contain>ul{
	width: 100%;
	height: 155px;
	margin-top: 10px;
	margin-bottom: 25px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.yejiao .contain ul>li{
	width: 25%;
	height: 100%;
	float: left;
}
.yejiao .contain ul>li ul{
	position: relative;
    width: 100%;
    height: 100%;
}
.yejiao .contain ul>li ul li{
	width: 100%;
	height: 100%;
}
.yejiao .contain ul>li ul li img{
	position: absolute;
	top: 30px;
	left: 130px;
}
.yejiao .contain ul>li ul:nth-child(1) li img:hover{
	cursor: pointer;
}
.yejiao .contain ul>li ul li:nth-child(2){
	position: absolute;
	top: 70px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;	
}
.yejiao .contain ul>li ul li:nth-child(3){
	position: absolute;	
	top: 100px;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
}
/*底部内容*/
.bottom{
	width: 100%;
	background: #fff;
	border-top: 1px solid #ddd;
}
.bottom .bts{
	height: 235px;
	border-bottom: 1px solid #ddd;
}
.bottom .bts .btzs{
	float: left;
	position: relative;
}
.bottom .bts .btys{
	float: right;
}
.bottom .bts .btzs ul>li{
	float: left;
	margin-top: 100px;
	margin-right:100px; 
}
.bottom .bts ul>li dt{
	font-size: 12px;
	font-weight: 400;
	color: #646464;
	margin-bottom: 10px;
}
.bottom .bts ul>li dd a{
	text-decoration: none;
	color: #aaa;
	font-size: 12px;
	font-weight: 200;
	margin-top: 10px;
}
.bottom .bts ul>li dd a:hover{
	color: #5079d9;
	cursor: pointer;
}
.bottom .bts .btys ul{
	position: relative;
}
.bottom .bts .btys ul li:nth-child(1){
	font-size: 28px;
	color: #646464;
	font-weight: 500;
	margin-top: 100px;
	text-align: right;
}
.bottom .bts .btys ul li:nth-child(2){
	font-size: 12px;
	color: #aaa;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 10px;	
}
.bottom .bts .btys ul li:nth-child(3) a{
	width: 130px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	right: 0;
	color: #5079d9;
	font-size: 14px;
}
.bottom .btx{
	height: 120px;
}
.bottom .btx .btzx{
	float: left;	
}
.bottom .btx .btzx p{
	font-size: 12px;
	color: #757575;
}
.bottom .btx .btzx p:nth-child(1){
	margin-top: 40px;
	margin-bottom: 10px;
}
.bottom .btx .btzx p:nth-child(2) a{
	font-size: 12px;
	color: #aaa;
	margin-right: 10px;
}
.bottom .btx .btzx p:nth-child(1) a{
	font-size: 12px;
	color:#5079d9; 	
}
.bottom .btx .btyx{
	float: right;
}
.bottom .btx .btyx li{
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
}
.bottom .btx .btyx li:hover{
	cursor: pointer;
}