body{
	background-color: #ededed;
}
/*top begin*/
.top{
	width: 100%;
	height: 98px;
	background-color: #000000;
}
.top0{
	width: 1216px;
	height: 100%;
	margin: 0 auto;
}
.top0 .logo{
	float: left;
	line-height: 98px;
}
.top .nav{
	width: 768px;
	float: left;
	margin-left: 256px;
	height: 98px;
	position: absolute;
	line-height: 98px;
}
.top .nav li{
	float: left;
	margin-right: 48px;
	list-style: none;
	line-height: 98px;
}
.top .nav li:nth-child(8){
	margin-right: 0px;
}
.top .nav li a{
	color: #c8c8c8;
	font-size: 14px;
	text-decoration: none;
	float: left;
}
.top .nav span{
	color: #c8c8c8;
}
.top .topr{
	float: right;
	height: 98px;
}
.top .topr a{
	text-decoration: none;
	color: #c8c8c8;
	line-height: 98px;
}
.top .topr a:nth-child(1){
    margin-right: 50px; 
}
.top li:hover a{
	color: white;
}
/*header begin*/
.header{
	width: 1216px;
	height: 94px;
	margin: 0 auto;
	background-color:#ededed;
}
.headert{
	width: 1216px;
	height: 94px;
	margin: 0 auto;
}
.header .headert li{
	list-style: none;
	float: left;
}
.header .headert li a{
	text-decoration: none;
	float: left;
	color: rgb(102,102,102);
	font-size: 14px;
	padding-top: 40px;
}
.header .headert li span{
	float: left;
	padding-top: 35px;
	color: #bdbdbd;
	padding-left: 21px;
	padding-right: 21px;
}
.header .headert li a:hover{
	color: rgb(112,150,243);
}
/*header end*/
/*main beign*/
.main{
	height: 7568px;
	width: 1216px;
	margin: 0 auto;
	margin-bottom: 48px;
}
.main .maint1{
	width: 100%;
	height: 523px;
	margin-bottom: 20px;
	background-color:#ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 10px/10px;
}
.main .maint1l{
	width: 462px;
	height: 523px;
	float: left;
}
.main .maint1l img{
	margin-top: 42px;
}
.main .maint1r{
	width: 702px;
	/*height: 100%;*/
	float: right;
	height: 528px;
}
.maint1rt{
	width: 645px;
	height: 138px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
}
.main .maint1r a{
	text-decoration: none;
	color: black;
	font-size: 26px;

}
.main .maint1r h3{
	/*line-height: 138px;*/
	padding-top: 64px;
}
.main .maint1r .maint1rt span{
	color: #999999;	
	font-size: 12px;
}
.main .maint1r p{
	margin-bottom: 20px;
	font-size: 14px;
}
.main .center{
	height: 194px;
	width: 645px;
	border-bottom: 1px solid #eeeeee;;
}
.main .center a span{
    color: rgb(112,150,243);
    font-size: 14px;
}
.maint1rb{
	margin-top: 70px;
	height: 218px;
	width: 645px;
}
.maint1rb .price{
    color: #999999;
    font-size: 14px;
}
.maint1rb .price span{
	color: #d44d44;
	font-size: 22px;
}
.maint1rb span:nth-child(2){
	display: block;
	width: 146px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
	float: right;
	text-align: center;
	margin-left: : 22px;
	border-radius: 10px/10px;
}
.maint1rb .buy1 a{
	color: white;
}
.maint1rb .buy2 a{
	color: #999999;
}
.maint1rb .buy1 a,.maint1rb .buy2 a{
	font-size: 16px;
}
.maint1rb span:nth-child(3){
	background-color:#6e94f3; 
	width: 146px;
	height: 48px;
	display: block;
	line-height: 48px;
	float: right;
	text-align: center;
	margin-right: 22px;
	border: 1px solid #6e94f3;
	border-radius: 10px/10px;
}
.maint1rb span:nth-child(3):hover{
	background: #6272c6;
}
.maint1rb span:nth-child(2):hover{
	background: #d7dae9;
}
/*main end*/
/*footer begin*/
.ft{
	width: 100%;
	height: 228px;
	background-color: #fafafa;
}
.footer{
	height: 228px;
	width: 1216px;
	margin: 0 auto;
	/*padding-bottom: 40px;*/
	border-bottom: 1px solid #e6e6e6;
}
.footer .footerl{
	width: 794px;
	height: 100%;
	float: left;
}
.footer dl{
	float: left;
	margin-right: 80px;
	margin-top: 100px;
}
.footer dl:nth-child(6){
	margin-right: 0px;
}
.footer .footerl dt a{
	text-decoration: none;
	color: #8c78a1;
	font-size: 14px;
}
.footer .footerl dt{
	margin-bottom: 16px;
}
.footer .footerl dd a{
	text-decoration: none;
	color: #969696;
	font-size: 14px;
}
.footer .footerl dd{
	margin-bottom: 10px;
}
.footer .footerr{
	width: 206px;
	height: 100%;
	float: right;
}
.footer .tel{
	font-size: 22px;
	color: #646464;
	margin-top: 100px;
}
.work-time{
	font-size: 12px;
	color: #616161;
}
.footer a p{
	border: 1px solid #dcdcdc;
	width: 119px;
	height: 30px;
	margin-left: 66px;
	padding-top: 4px;
	box-sizing: border-box;
	border-radius: 5px/5px;
	text-align: center;
	margin-top: 15px;
}
.footer a{
	color: #5079d9;
}
/*footer end*/
/*bottom begin*/
.bottom{
	width: 100%;
	height: 120px;
	background-color: #fafafa;
	padding-top: 40px;
}
.bm{
	height: 120px;
	width: 1216px;
	/*background-color: yellow;*/
	margin: 0 auto;
	padding-top: 40px;
	border-top: 1px solid #e6e6e6;
}
.bottoml{
	float: left;
	width: 800px;
	height: 100%;
	/*background-color: red;*/
	padding-top: 40px;
}
.bottoml li{
	float: left;
}
.bottoml li a,.bmbl0 li a{
    font-size: 13px;
    text-decoration: none;
    color: #5079d9;
}
.bottoml li span,.bmlb0 li span{
	color: #cccccc;
}
.bmlb0{
	margin-top: 13px;
	float: left;
}
.bmlb{
	color: #bdbdbd;
}
.bmt1{
    color: #757575;
    font-size: 13px;
}
.p1{
	font-size: 1px;
}
.bottoml li span{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}
.bottoml option{
	float: right;
}
.language0{
	float: right;
	/*width: 446px;
	height: 100%;*/
}
.hui{
	width: 47px;
	height: 47px;
	border: 2px solid #e8e8e8;
	float: right;
	border-radius: 5px/5px;
}
.hui img{
	margin-left: 17px;
	margin-top: 17px;
}
/*bottom end*/