*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ededed;
}
.clearfix:after{  
            display: block;  
            content:'';  
            clear: both;  
            height:0;  
        }  
a{
	text-decoration: none;
	color: #b0b0b0;
	font-size: 12px;
}

.container{
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
}
.clearfix{
	*zoom:1;
}
body{
	font-size: 12px;
}
.top{
	height: 100px;
    background-color: #0b0b0b;

}
.top .nav a:hover{
    color: #fff;
}
.top .logo{
	float: left;
	width: 43px;
	height: 100px;
   
}
.top .logo img{
    width: 43px;
    height: 44px;
	margin-top: 28px;
	display: inline-block;

}
.top .nav li{
	float: left;
	margin-right: 50px;
	
	line-height: 100px;
    list-style: none;
}
.top .nav li:nth-child(1){
	margin-left: 269px;
	color: #fff;
}
.top .nav li:nth-child(1) a{
	color: #fff;
}
.top .nav ul span{
	float: left;
	color: #242424;
	width: 1px;
	height: 100px;
	margin-right: 50px;
	line-height: 100px;
}
.top .cart{
	
	height: 100px;
	line-height: 100px;
	color: #999;
	float: left;
	}
.top .cart i:nth-child(1){
	margin-right: 20px;
}
.top .cart div{
	display:inline-block;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #999;
}

.header .container{
	height: 89px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #d8d8d8;
	line-height: 89px;
}
.header li{
	float: left;
	margin-left: 30px;
	color:  #dfdfdf;
	padding-left: 10px;


}
.header li:nth-child(1){
	list-style:none;
	padding-left: 0px;
	margin-left: 0px;
}
.header li:nth-child(4){
	font-weight: bold;
}
.header li a{
	color: #666;
}
.header li a:hover{
	color: #5079d9;
}
.check{
	width: 1220px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	}
.check li{
	float: left;
	margin-left: 30px;
	color:  #c7c7c7;
	padding-left: 10px;
}
.check li:nth-child(1){
	list-style:none;
	padding-left: 0px;
	margin-left: 0px;
	
}
.check li:nth-child(1) a{
	color: #7783ea;
}
.check li a{
	color: #999;
}
.check li a:hover{
	color: #7783ea;
}
.good{
	width: 1220px;
	height: 4290px;
	margin: 0 auto;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	background-color: #fff;
}
.good li{
	display: inline-block;
	float: left;
	width: 304px;
	height: 428px;
	border-right:  1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
}
.good li img{
	width: 216px;
	height: 216px;
	margin-top: 35px;
}
.good .h2{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 15px;
}
.good span{
	width: 10px;
	height: 10px;
	border:1px solid #999;
	border-radius: 50%;
	display:inline-block;
	margin-top: 15px;
	margin-right: 10px;ã€
	padding: 2px;
}
.good span img {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block
}
.good h2{
	margin-top: 15px;
	color: #d44d44;
}
.good li:hover{
	box-shadow: 2px 2px 10px 10px #f5f5f5 inset;
}
.help{
	width: 1220px;
	height: 155px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	border:1px solid #dcdcdc;
	border-radius: 10px;
}
.help div{
	width: 302px;
	height: 155px;
	display: inline-block;
	text-align: center;
	
}
.help i{
	font-size: 36px;
	margin-top: 25px;
	margin-bottom: 10px;
	color: #8d8d8d;
}
.help p{
	width: 302px;
	color: #a8a8a8;
}
.help h5{
	font-size: 15px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 400px;
}
.bottom{
	width: 100%;
	height: 354px;
	background-color: #fafafa;
	margin-top: 28px;
	
}
.bottom .siteinfo{

	width: 1220px;
	height: 233px;
	padding: 100px 0 32px;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6;
}

.bottom .copyright{
	width: 1220px;
	height: 120px;
	font-size: 12px;
	color: #434d55;
	padding: 40px 0;
	box-sizing: border-box;
	position: absolute;
}
.bottom .nav{
	
	font-size: 14px;
	color: #666;
	line-height: 1.15;
}
.bottom .nav>li{
	list-style: none;
	width: 149px;
	line-height: 1;
	float: left;
}
.bottom .nav h3{
	color: #646464;
	font-size: 12px;
	font-weight: 400;
	padding: 0 0 14px;
}
.bottom .nav h3+ul li{
	list-style: none;
	color: #c3c3c3;
	font-size: 12px;
	padding: 6px 0;
	box-sizing: border-box;
}
.container .service{
	float: right;
    right: 100px;
    overflow: hidden;
    line-height: 34px;
    list-style: none;
}
.service li:nth-child(1){
	font-size: 30px;
    line-height: 1;
    cursor: default;
    color: #646464;
    top: -2px;
    position: relative;
}
.service li:nth-child(2){
   
    width: 241px;
    font-size: 12px;
    line-height: 18px;
    color: #c3c3c3;
    }
 .online{
 	float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(#fcfcfc,#f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-right: 40px;
}
.copyright .chuizi{
	float: left;
	height: 15px;
	line-height: 15px;
	color: #757575;
	font-size: 100%;
	font-weight: 400;
}
.copyright .privacy{
	margin: 0 0 0 10px;
	list-style:none;
	color: #434d55;
	float: left;
}
.copyright .privacy li{
	float: left;
	line-height: 12px;
	padding: 0  10px;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
}
.copyright .privacy li a{
	color: #5079d9;
}
.copyright .gon{
	color: #bdbdbd;
	font-size: 12px;
	height: 12px;
	line-height: 1;
	text-decoration: none;
}
.copyright .china {
	width: 130px;
	height: 51px;
	position: relative;
	top: -66px;
	right: -1075px;
	padding:10px 20px 10px 44px; 
	box-sizing: border-box;
}
.copyright .china img{
     width: 15px;
     height: 10px;
     display: inline-block;
     margin-right: 2px;
}
.copyright .china i{
	margin-left:10px;
}